# Historical ETH Shocks

## Purpose

Examine historical ETH/USD shocks from Binance and MKR OSM data

In [1]:
import numpy as np
import pandas as pd

# Historical ETH Shocks

First, let's explore the size of historical ETH/USD shocks in the Maker oracle and also in Binance ETH/USDT data.

## Historical Hourly MKR OSM shocks from 2020-08-06 to 2021-09-07

In [2]:
df = pd.read_csv('mkr_osm_int.csv')
df['price'] = df['price'].astype(float)/10E17

# order by time
df = df.sort_values('ts')

# pct change from previous ts
df['pct_change'] = df['price'].pct_change()

### Largest hourly pct drops

In [3]:
# show largest pct drops
df.sort_values('pct_change').head(5)

         block                       ts        price  pct_change
2464  12422932  2021-05-13 01:02:06 UTC  3831.000000   -0.095507
2279  12472770  2021-05-20 18:05:07 UTC  2687.000000   -0.083279
2211  12490963  2021-05-23 14:01:18 UTC  1930.231566   -0.083112
4350  11912604  2021-02-23 10:00:00 UTC  1470.200000   -0.080550
2306  12465534  2021-05-19 15:05:05 UTC  2440.160000   -0.071116

### Quantiles

In [4]:
df['pct_change'].quantile(0.01), df['pct_change'].quantile(0.001), df['pct_change'].quantile(0.0001)

(-0.034568015169454853, -0.0597010511121509, -0.08430029098011962)

## Historical Hourly Binance ETH/USDT Shocks from 2017-08-17 to 2021-09-07

In [5]:
df = pd.read_csv('Binance_ETHUSDT_1h.csv')
df['range'] = df['high'] - df['low']
df['pct_change'] = (df['low']/df['high']) - 1
print(f"Number of hourly ticks {len(df)}")

Number of hourly ticks 38194

### Largest hourly pct drops in ETH/USDT

In [6]:
df.sort_values('pct_change', ascending=True)[['date', 'close', 'Volume ETH', 'pct_change']].head(5)

                      date    close    Volume ETH  pct_change
38193     2017-08-17 04-AM   300.79     122.52000   -0.543463
38073     2017-08-22 04-AM   287.00     145.21000   -0.533346
2648   2021-05-19 12:00:00  2365.18  437462.36681   -0.293317
15663     2020-03-13 02-AM   111.12  463034.33000   -0.284526
2647   2021-05-19 13:00:00  2493.69  493227.88282   -0.273567

### Quantiles

In [7]:
df['pct_change'].quantile(0.01),  df['pct_change'].quantile(0.001), df['pct_change'].quantile(0.0001)

(-0.0650481169905298, -0.13570589329157023, -0.2755470538713533)

# Historical 4-Hour MKR OSM shocks from 2020-08-06 to 2021-09-07

The Maker ETH/USD oracle is updated every hour, but the Reflexer oracle is updated every 4 hours. So lets consider what the largest 4-hour percent drop in the Maker oracle data.

In [8]:
df_mkr = pd.read_csv('mkr_osm_int.csv')
df_mkr['price'] = df_mkr['price'].astype(float)/10E17

# order by time
df_mkr = df_mkr.sort_values('ts')

# pct change from previous ts
df_mkr['pct_change'] = df_mkr['price'].pct_change(4)

### Largest 4-hour pct drops

In [9]:
# show largest pct drops
df_mkr.sort_values('pct_change').head(5)

         block                       ts    price  pct_change
2306  12465534  2021-05-19 15:05:05 UTC  2440.16   -0.176690
5548  11587865  2021-01-04 12:01:46 UTC   966.04   -0.132717
5384  11632391  2021-01-11 08:00:41 UTC  1043.40   -0.124062
5387  11631584  2021-01-11 05:01:41 UTC  1117.82   -0.121956
2307  12465262  2021-05-19 14:05:12 UTC  2626.98   -0.114541

## Historical 4-Hour Binance ETH/USDT Shocks from 2017-08-17 to 2021-09-07

In [10]:
df_bin = pd.read_csv('Binance_ETHUSDT_1h.csv')

df_4 = pd.concat([df_bin, df_bin.shift(3)['high'].rename("high-4")], axis=1)


df_4['pct_change'] = (df_4['low']/df_4['high-4']) - 1
print(f"Number of hourly ticks {len(df_4)}")

Number of hourly ticks 38194

In [11]:
df_4.sort_values('pct_change', ascending=True)[['date', 'close', 'Volume ETH', 'pct_change']].head(10)

                      date    close    Volume ETH  pct_change
38073     2017-08-22 04-AM   287.00     145.21000   -0.527753
2647   2021-05-19 13:00:00  2493.69  493227.88282   -0.347841
15663     2020-03-13 02-AM   111.12  463034.33000   -0.302627
2648   2021-05-19 12:00:00  2365.18  437462.36681   -0.294964
37490     2017-09-15 11-AM   199.28     611.03000   -0.291330
37489     2017-09-15 12-PM   227.00     995.23000   -0.277444
15665     2020-03-13 12-AM   106.89  352204.30000   -0.244928
34531     2018-01-16 10-PM   970.02   41818.22000   -0.242718
15664     2020-03-13 01-AM    96.62  247820.18000   -0.227302
34510     2018-01-17 07-PM   905.02   11281.47000   -0.221009

In [12]:
df_filter = df_4[df_4['Volume ETH'] > 1000]
df_filter.sort_values('pct_change', ascending=True)[['date', 'close', 'Volume ETH', 'pct_change']].head(10)

                      date    close    Volume ETH  pct_change
2647   2021-05-19 13:00:00  2493.69  493227.88282   -0.347841
15663     2020-03-13 02-AM   111.12  463034.33000   -0.302627
2648   2021-05-19 12:00:00  2365.18  437462.36681   -0.294964
15665     2020-03-13 12-AM   106.89  352204.30000   -0.244928
34531     2018-01-16 10-PM   970.02   41818.22000   -0.242718
15664     2020-03-13 01-AM    96.62  247820.18000   -0.227302
34510     2018-01-17 07-PM   905.02   11281.47000   -0.221009
2646   2021-05-19 14:00:00  2612.74  302720.21547   -0.217584
34511     2018-01-17 06-PM   833.52    8124.23000   -0.206823
35139     2017-12-22 02-PM   559.91   13976.44000   -0.197154

In [13]:
smallest_shock = .10
past_shocks = df_filter.query(f'pct_change < -{smallest_shock}')['pct_change']
df_filter.to_csv('binance_eth_shocks.csv')

### Shocks per year

In [14]:
min_shock = 0.00
max_shock = 0.6
n_shocks = 61
SHOCKS = np.round(np.linspace(min_shock, max_shock, n_shocks), 4)
for shock in SHOCKS:
    print(f"{shock=}, {len(df_filter.query(f'pct_change <= {-shock}'))/4}")

shock=0.0, 7807.75
shock=0.01, 4668.75
shock=0.02, 2395.75
shock=0.03, 1272.75
shock=0.04, 720.5
shock=0.05, 431.0
shock=0.06, 261.25
shock=0.07, 168.0
shock=0.08, 108.0
shock=0.09, 74.75
shock=0.1, 52.5
shock=0.11, 35.75
shock=0.12, 26.0
shock=0.13, 17.0
shock=0.14, 13.0
shock=0.15, 9.5
shock=0.16, 7.5
shock=0.17, 6.25
shock=0.18, 4.0
shock=0.19, 3.0
shock=0.2, 2.25
shock=0.21, 2.0
shock=0.22, 1.75
shock=0.23, 1.25
shock=0.24, 1.25
shock=0.25, 0.75
shock=0.26, 0.75
shock=0.27, 0.75
shock=0.28, 0.75
shock=0.29, 0.75
shock=0.3, 0.5
shock=0.31, 0.25
shock=0.32, 0.25
shock=0.33, 0.25
shock=0.34, 0.25
shock=0.35, 0.0
shock=0.36, 0.0
shock=0.37, 0.0
shock=0.38, 0.0
shock=0.39, 0.0
shock=0.4, 0.0
shock=0.41, 0.0
shock=0.42, 0.0
shock=0.43, 0.0
shock=0.44, 0.0
shock=0.45, 0.0
shock=0.46, 0.0
shock=0.47, 0.0
shock=0.48, 0.0
shock=0.49, 0.0
shock=0.5, 0.0
shock=0.51, 0.0
shock=0.52, 0.0
shock=0.53, 0.0
shock=0.54, 0.0
shock=0.55, 0.0
shock=0.56, 0.0
shock=0.57, 0.0
shock=0.58, 0.0
shock=0.59, 0.0
shock=0.6, 0.0